

.row.function-button
  .text-right
    = link_to new_admin_section_path, class: 'btn btn-default' do
      %i.fa.fa-plus{ 'aria-hidden' => true }
        = t('.buttons.new')
.row
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th= t('activerecord.attributes.section.title')
        %th= t('activerecord.attributes.section.explanation')
        %th
    %tbody
      - if @sections.empty?
        %tr
          %td{ colspan: 2 }= t('.messages.no_search_results', model: t('activerecord.models.section'))
      - else
        - @sections.each do |section|
          %tr
            %td= section.title
            %td= section.explanation
            %td.text-right
              = link_to admin_section_path(section), class: 'btn btn-primary' do
                %i.fa.fa-eye{ 'aria-hidden' => true }
                  = t('.buttons.show')
